.App {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #333333;
}

.main-container{
  margin-top: 2.5rem;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 5px 5px 20px #450a4e;
}

.color-box{
  margin: 1rem 0;
  padding: 100px;
  border-radius: 5px;
}

.button-group{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: 0;
  box-shadow: 2px 2px 5px #450a4e;
  background-color: #b51273;
  color: white;
}

button:hover, button:active{
  filter: brightness(0.8);
}

button:active{
  transform: translateY(2px);
  box-shadow: 0px 0px 0px;
}
