.App {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #333333;
}

.main-container{
  margin-top: 2.5rem;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 5px 5px 15px #450a4e;
}
